<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= categoryName %></title>
</head>
<body>
    <%- include('./partials/nav') %>

    <ul>
        <% menuItems.forEach((item) => { %>
            <li>
                <h3><%= item.name %> --- Price: $<%= item.price %>  --- Ratings: <%= item.rating %>*  </h3> 
                <p><%= item.details %> </p>
            </li>
        <% }); %>

        </ul>
  
    
</body>
</html>